.session {
  width: 90%;
  max-width: 700px;
  margin: 50px auto 0;
}

.session-btn {
  width: 100%;
  background: rgb(254, 70, 85);
  border: 1px solid rgb(254, 70, 85);
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}